@charset "urf-8";

/* 공통변수 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--main_txt_color:#333;
	--bgColor1:#000;
	--bgColor2:#7c7c7c;
	--txtColor1:#fff;
	--base_font_size:12px;
	--base_font_family:'Noto Sans',arial,sans-serif;
}
a{
	text-decoration: none;
}

.toggle_btn, .cart_btn{
	position: absolute;
	top: 13px;
}
.toggle_btn{
	background: none;
	border: none;
	left: 14px;
}
.cart_btn{
	right: 14px;
}
.toggle_btn img, .cart_btn img{
	width: 36px;
}

/* 모바일 네비게이션 서식 */
.navi{
	background: #000;
	width: 100%; height: 100%;
	position: fixed;
	top: 0px; left: -100%;
	z-index: 100;
	transition: 0.3s;
	
}

/* 닫기버튼 서식 */
.close_btn{
	background: none;
	border: none;
	position: absolute;
	top: 20px; left: 5%;
}

/* gnb서식 */
.gnb{
	width: 90%; margin: 80px auto 0px auto;
}
.gnb > li{
	line-height: 44px;
	border-bottom: 1px solid #7c7c7c;
	text-indent: 10px;
}
.gnb > li > a{
	display: block;
	font-size: 1rem;
	transition: 0.3s;
	color: var(--txtColor1);
}

.gnb > li > a:hover{
	background: #7c7c7c;
}

/* 로그인,회원가입,장바구니, 주문조회 버튼 서식 */

.form_navi{
	width: 90%; margin: 30px auto 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.form_navi li{
	width: 48.74%;
	line-height: 40px;
	display: inline-block;
	background: #7c7c7c;
	margin: 1px 0.20%;
	text-align: center;
}
.form_navi li a{
	color: var(--txtColor1);
	font-size: 0.92rem;
	display: block;
}

.member_info{
	color: var(--txtColor1);
	text-align: right;
	font-size: 1.1rem;
}